@import url('media-query.css');

/* --------------- Variable ---------------- */

/* couleur */
:root {
    --couleur-principale: #73168B;
    --couleur-secondaire: #9F2CBF;
    --couleur-complementaire: #C04BF2;
    --couleur-alternatif: #28125A;
    --couleur-tertiaire: white;
}

/* typographie */
:root{
    --font-principal : Arial, Helvetica, sans-serif;
    --taille-font-normal: 20px;
    --taille-font-responsive: 10px;
}

/* espacement */
:root{
    --margin-prime: 75px;
    --margin-seconde: 60px;
    --margin-troisieme: 30px;
    --margin-quatrieme: 20px;
    --margin-prime-responsive: 37px;
    --margin-seconde-responsive: 30px;
    --margin-troisieme-responsive: 15px;
    --margin-quatrieme-responsive: 10px;
    --margin-cinquieme-responsive: 5px;
}

/* icone */
:root{
    --taille-icone1-normal: 40px;
    --taille-icone2-normal: 25px;
    --taille-icone3-normal: 70px;
    --taille-icone1-responsive: 20px;
    --taille-icone2-responsive: 12px;
    --taille-icone3-responsive: 35px;
}

/* smooth scroll */
:root {
    scroll-behavior: smooth;
}

/* ------------Caractéristique général du body---------------- */
body{
    display: flex;
    flex-direction: column;
    margin: 0
};

h1 {
    font-size: 40px;
};

h2 {
    font-size: 30px;
};


h3 {
    font-size: 25px;
};

h4{
    font-size: 20px;
};

h5{
    font-size: 15px;
}
@media (max-width: 1200px){
    h1 {
        font-size: 20px;
    };
    
    h2 {
        font-size: 15px;
    };
}
/* ----------------------------------------------header--------------------------------------- */

/*---------------------------- Header------------------------------------ */
header {
    display: flex;
    width: 100vw;
    height: 656px;
    flex-direction: column;
    position: relative; 
    top: 0vw;
    left: 0vw;
    margin-bottom: var(--margin-quatrieme);

}
@media (max-width: 1000px){
    header{
        height: 347px;
        margin-bottom: var(--margin-quatrieme-responsive);
    }
}
/* -------------------------------navmenu----------------------------------------- */
.navmenu {
    display: flex;
    background-color: var(--couleur-alternatif); 
    position: fixed; 
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 70px;
    z-index: 10;
    box-shadow: 6px 6px 6px 6px #28125ac2;
    top: 0;
    left: -1vw;
}

.navmenu a{
    display: flex;
    flex-wrap: wrap;
    color: var(--couleur-tertiaire);
    font-size: 25px;
    margin: var(--margin-quatrieme);
    font-family: var(--font-principal);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* option survolé */
a:hover {
    text-decoration: underline;
}
.navmenu a.active {
    text-decoration: underline;
}

/* option retour pour le navmenu en mode responsive */
.navmenu p{
    display: none;
}

/*--------------------------- toggle ------------------*/

.rectangleToggle {
    display: none;
    background-color: var(--couleur-alternatif); 
    position: fixed; 
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 70px;
    z-index: 10;
    box-shadow: 6px 6px 6px 6px #28125ac2;
    top: 0;
    left: -1vw;

}
.toggleMenu {
    display: none;
    flex-direction: row;
    position: fixed;
    width: 100px;
    height: 25px;
    left: var(--margin-seconde-responsive);
    top: var(--margin-seconde-responsive);
    cursor: pointer;
    z-index: 20;
}

.toggleConteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: var(--margin-cinquieme-responsive);
    border: 1px solid var(--couleur-tertiaire);
}

#ligneToggle {
    width: 15px;
    height: 1px;
     position: absolute;    
    background: var(--couleur-tertiaire);
  }
  
  #ligneToggle::after,
  #ligneToggle::before {
    content: "";
    width: 15px;
    height: 1px;
    background: var(--couleur-tertiaire);
    position: absolute; 
  }
  
  #ligneToggle::after {
    top: -5px;
  }
  
  #ligneToggle::before {
    top: 6px;
  }

#menuText{
    margin-top: 5px;
    color: var(--couleur-tertiaire);
    font-family: var(--font-principal);
    font-size: 25px;
}

/* -------------------- navmenu responsive------------------------------------ */


@media (max-width: 1200px){
    .navmenu {
        display: none;
        position: fixed;
        flex-direction: column;
        align-items: start;
        color: var(--couleur-alternatif);
        height: 100%;
        width: 50%;
        z-index: 200;
        opacity: 0; 
        transform: translateY(-10px); 
        transition: opacity 0.5s ease-in, transform 0.5s ease-in; 
        overflow: auto;
    }

    .navmenu p{
        display: block;
        font-size: 25px;
        color: var(--couleur-tertiaire);
        cursor: pointer;
        margin: var(--margin-quatrieme);
        padding-left: 5vw;
        padding-top: 10vw;
    }
    .navmenu p:hover {
        text-decoration: underline;
    }
    .navmenu.visible {
        display: flex; 
        opacity: 1;
        transform: translateY(0); 
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      }

    .navmenu a{
        margin: var(--margin-quatrieme);
        padding-left: 5vw;
    }

    .rectangleToggle {
        display: flex;
        width: 105vw;
    }

    .rectangleToggle .toggleMenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* -----------------------animation navmenu en responsive--------------------- */
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px); /* Le menu commence légèrement au-dessus */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Le menu atteint sa position normale */
    }
  }
  
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateX(0); /* Le menu est visible à sa position normale */
    }
    to {
      opacity: 0;
      transform: translateX(-20px); /* Le menu disparaît en glissant vers le haut */
    }
  }
  
  .navmenu.visible {
    display: flex; /* Affiche le menu lorsqu'il est visible */
    animation: slideIn 0.5s ease forwards; /* Animation pour l'apparition */
  }
  
  .navmenu.hidden {
    animation: slideOut 0.9s ease-in forwards; /* Animation pour la disparition */
  }

}

@media (max-width: 1000px){
    .navmenu{
        align-items: start;
        justify-content: start;
        width: 50%;
    }
    .navmenu p{
        font-size: 15px;
        color: var(--couleur-tertiaire);
        margin: var(--margin-quatrieme-responsive);
        padding-left: var(--margin-troisieme-responsive);
    }
    .navmenu a{
        padding-left: var(--margin-troisieme-responsive);
        margin: var(--margin-quatrieme-responsive);
        font-size: 15px;
    }
    .rectangleToggle {
        display: flex;
        position: fixed;
        height: 54px;
    }
    .rectangleToggle .toggleMenu{
        width: 90px;
        height: 24px;
        top: var(--margin-troisieme-responsive);
        left: var(--margin-prime-responsive);
    }
    .rectangleToggle .toggleMenu .toggleConteneur{
        width: 20px;
        height: 20px;
    }
    #ligneToggle {
        width: 10px;
        height: 1px;
    }
    #ligneToggle::after,
    #ligneToggle::before {
        content: "";
        width: 10px;
        height: 1px;
    }
    
    #ligneToggle::after {
        top: -3px;
    }
    
    #ligneToggle::before {
        top: 3px;
    }
    #menuText{
        margin-top: 5px;
        color: var(--couleur-tertiaire);
        font-family: var(--font-principal);
        font-size: 20px;
    }
}
/*-------------------------------- Couverture----------------------------- */
.couverture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image0_0Copie.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    width: 101vw;
    height: 586px;
    box-shadow: 3px 3px 3px 3px #28125ac2;
    left: -1vw;
}

.couverture .tabCouverture{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 901px;
    height: 295px;


}
.tabCouverture img
{
    width: 275px;
    height: 275px;
    border: 10px solid var(--couleur-tertiaire);
    border-radius: 50%;
    margin-right: var(--margin-prime);
}

.couleurBlancTitre{
    display: flex;
    flex-direction: column;
    width: 552px;
    height: 183px;
   margin-left: var(--margin-prime);
   color: var(--couleur-tertiaire);
    font-family: var(--font-principal);
}
#couleurTitre{
    color: var(--couleur-tertiaire);
    font-family: var(--font-principal);
}
/*-------------------------------- Couverture responsive----------------------------- */
@media (max-width: 1000px) {
    .couverture {
        flex-direction: column-reverse;
        width: 105vw;
        margin-top: 45px;
        height: 243px;
        left: -2vw;
    }

    .couverture .tabCouverture{
        display: flex;
        flex-direction: column-reverse;
        width: 276px;
        height: 226px;
    }
    .tabCouverture img
    {   position: relative;
        width: 100px;
        height: 100px;
        border: 5px solid var(--couleur-tertiaire);
        margin: 0;
        bottom: -60px;
    }
    .tabCouverture h1{
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-bottom: var(--margin-seconde-responsive);
    }
    .tabCouverture h1 span{
        align-items: center;
        justify-content: center;
    }
    
    .couleurBlancTitre{
        position: absolute;
        width: 276px;
        height: 96px;
        margin:0;
        margin-bottom: var(--margin-prime);
    }
}



/* ------------------------------caractéristique global article----------------------------- */

/* constitution global */
article{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-prime);
}

section{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

section #active {
    margin-top: 116px;
}

/* text global */
p{
    color: var(--couleur-principale);
    font-family: var(--font-principal);
    font-size: var(--taille-font-normal);
    margin: 0;
}

#souligne{
    font-family: var(--font-principal);
    font-size: 40px;
    color: var(--couleur-principale);
    text-decoration: underline;
    text-decoration-thickness: 6px; /* Épaisseur du soulignement */
    text-underline-offset: 9px; /* Distance entre le soulignement et le texte */
    text-decoration-color: var(--couleur-principale); /* Couleur du soulignement */
}

/* titre + icone global de chaque section */
.Titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: var(--margin-prime);
    margin-bottom: var(--margin-troisieme);
    cursor: pointer;
}

.Titre:hover {
    opacity: 0.7;
}

/* icones global */

#tailleIcon1{
    width: var(--taille-icone1-normal);
    height: var(--taille-icone1-normal);
    cursor: pointer;
}

#tailleIcon2{
    width: var(--taille-icone2-normal);
    height: var(--taille-icone2-normal);
    cursor: pointer;
}

/* sous-titre + icone dans les span */
.sousTitre{
    display: flex;
    flex-direction: row;
    align-items: start;
    cursor: pointer;
}

/* conteneur avec les box shadow */
#boxShadow {
    border-radius: 10px;
    box-shadow: 0px 30px 30px #74168b27,
                0px -30px 30px #74168b27,
                30px 0px 30px #74168b27,
                -30px 0px 30px #74168b27;
}

/* btn */
.btn {
    width: 174px;
    height: 29px;
    color: var(--couleur-tertiaire);
    border: 1px solid var(--couleur-principale);
    background-color: var(--couleur-principale);
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.7;
}
@media (max-width: 1000px){
    article{
        display: flex;
        flex-direction: column;
        margin-bottom: var(--margin-prime-responsive);
    }
    
    section{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease, transform 0.6s ease;
    }
    
    /* text global */
    p{
        font-size: var(--taille-font-responsive);
        margin: 0;
    }
    
    #souligne{
        font-size: 20px;
        text-decoration-thickness: 3px;
        text-underline-offset: 4px; 
    }
    
    /* titre + icone global de chaque section */
    .Titre{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 20px;
        margin-top: 60px;
        margin-bottom: var(--margin-troisieme-responsive);
    }
    
    .Titre:hover {
        opacity: 0.7;
    }
    
    /* icones global */
    
    #tailleIcon1{
        width: var(--taille-icone1-responsive);
        height: var(--taille-icone1-responsive);
    }
    
    #tailleIcon2{
        width: var(--taille-icone1-responsive);
        height: var(--taille-icone1-responsive);
    }
    
    /* btn */
    .btn {
        width: 87px;
        height: 19px;
        font-size: 10px;
    }

}

/* -------------------------------section infoPersonnel------------------------------------ */

/* containeur principal */
.infoPersonnel{
    display: flex;
    width: 1048px;
    height: 264px;
    align-items: center;
    justify-content: center;
    
}
/* contenu */
.infoPersonnelContenu p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media (max-width: 1000px) {
    .infoPersonnel{
        width: 275px;
        height: 144px;
    }
}

/* ------------------------section à propos------------------------------------ */

/* conteneur principal à propos*/
.APropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 954px;
    
     height: 246px; 
    align-items: center;
    justify-content: center;
    
}

#espacementTitre {
    margin-top: 70px;
}

/* contenu text à propos*/

.AProposContenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 954px;
    height: 96px;

}
@media (max-width: 1000px){
    /* conteneur principal à propos*/
.APropos {
    width: 215px;
     height: 200px; 
}
#espacementTitre {
    margin-top: 35px;
}

/* contenu text à propos*/

.AProposContenu {
    width: 215px;
    height: 96px;
}
}

/* -------------------------section diplome et formation----------------------------- */
/* conteneur principal diplome+formation */
section .DiplomesFormations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 989px;
    height: 611px;
    
}
/* diplome conteneur principal / formation conteneur principal */
main .containerDiplomeFormation{
    display: flex;
    align-items: start;
    width: 924px;
    height: 201px;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--margin-troisieme);
}

/* sous titre diplome et compétence */
#sousTitreDiplomeFormation{
    margin-bottom: var(--margin-quatrieme);
}

/* conteneur sous-titre et contenu diplome / conteneur sous-titre et contenu formation */
.sousTitreContenuDiplomeFormation{
    width: 864px;
    height: 141px;
    margin: var(--margin-troisieme);
}

/* contenu diplome / contenu formation */
.contenuDiplomeFormation{
    width: 851px;
    height: 136px;
}
@media (max-width: 1000px){
    /* conteneur principal diplome+formation */
    section .DiplomesFormations{
        width: 300px;
        height: 380px;
        
    }
    /* diplome conteneur principal / formation conteneur principal */
    main .containerDiplomeFormation{
        width: 300px;
        height: 132px;
        margin-bottom: var(--margin-troisieme-responsive);
    }
    /* sous titre diplome et compétence */
    #sousTitreDiplomeFormation{
        margin-bottom: var(--margin-quatrieme-responsive);
    }
    /* conteneur sous-titre et contenu diplome / conteneur sous-titre et contenu formation */
    .sousTitreContenuDiplomeFormation{
        width: 273px;
        height: 102px;
        margin: var(--margin-troisieme-responsive);
    }
    /* contenu diplome / contenu formation */
    .contenuDiplomeFormation{
        width: 273px;
        height: 84px;
    }
}
/* -----------------------------section xp et compétences-------------------------------- */
/* conteneur principal expérience compétence */
section .XpCompetence{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 1145px;
    
}
@media (max-width: 1000px){
    section .XpCompetence{
        width: 302px;
        height: 902px;
        
    }
}

/* -----------------------------partie expérience-------------------------------- */

/* conteneur principal expérences */
.conteneurPrincipalXp{
    display: flex;
    flex-direction: column;
    width: 749px;
    height: 535px;
    margin-bottom: var(--margin-troisieme);
}

/* espacement du texte expérience */
span .experience #espacementXp{
    margin-bottom: var(--margin-troisieme);
}

/* conteneur conseiller client */
span .experience .conteneurConseillerClient {
    display: flex;
    flex-direction: column;
    width: 552px;
    height: 128px;
    margin-top: 0;
    margin-bottom: var(--margin-troisieme);
}
/* icon + contenu conseiller client */
.iconContenuConseiller{
    width: 493px;
    height: 73px;
    margin: var(--margin-troisieme);
}

/* conteneur domaine du web */
.conteneurDomaineWeb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 749px;
    height: 323px;
    margin-bottom: var(--margin-troisieme);
}

/* icon + contenu domaine web */
.iconContenuDomaineWeb{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: var(--margin-troisieme);
}
@media (max-width: 1000px){
    /* conteneur principal expérences */
    .conteneurPrincipalXp{
        width: 291px;
        height: 372px;
        margin-bottom: var(--margin-troisieme-responsive);
    }

    /* espacement du texte expérience */
    span .experience #espacementXp{
        margin-bottom: var(--margin-troisieme-responsive);
    }

    /* conteneur conseiller client */
    span .experience .conteneurConseillerClient {
        width: 273px;
        height: 68px;
        margin-bottom: var(--margin-troisieme-responsive);
    }
    /* icon + contenu conseiller client */
    .iconContenuConseiller{
        width: 246px;
        height: 38px;
        margin: var(--margin-troisieme-responsive);
    }

    /* conteneur domaine du web */
    .conteneurDomaineWeb{
        width: 291px;
        height: 212px;
        margin-bottom: var(--margin-troisieme-responsive);
    }

    /* icon + contenu domaine web */
    .iconContenuDomaineWeb{
        width: 261px;
        height: 182px;
        margin: var(--margin-troisieme-responsive);
    }
    .iconContenuDomaineWeb div #espacementDomaineWeb{
         height: 30px; 
    }
    br{
        display: none;
    }
}

/* -----------------------------partie compétence-------------------------------- */

/* conteneur principal compétence */
main .conteneurPrincipalCompétence {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 800px;
    height: 420px;
    margin-bottom: var(--margin-troisieme);
}

/* espacement texte compétence */
#compétence{
    margin-bottom: var(--margin-troisieme);
}

@media (max-width: 1000px){
    main .conteneurPrincipalCompétence {
        width: 228px;
        height: 495px;
        margin-bottom: var(--margin-troisieme-responsive);
    }
    #compétence{
        margin-bottom: var(--margin-troisieme-responsive);
    }
}

/* ------------langage de programmation / framework / logiciel / langue------------- */

/* conteneur langage de programmation / framework / logiciel */
.conteneurCodeFrameworkLogiciel {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 800px;
    height: 366px;
}

@media (max-width: 1000px){
    span .conteneurCodeFrameworkLogiciel {
        flex-direction: column;
        align-items: center;
        width: 228px;
        height: 478px;
    }
}

/* conteneur langage de programmation / framework / logiciel avec box shadow individuel */
.containerCode{
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 168px;
    margin-bottom: var(--margin-troisieme);
}

.containerMarginRight{
    margin-right: var(--margin-troisieme);
}

.containerMarginLeft {
    margin-left: var(--margin-troisieme);
}

.containerCode .conteneurTexteIconeTexte{
    margin-top: var(--margin-troisieme);
    margin-left: var(--margin-troisieme);
}
@media (max-width: 1000px){
    .containerCode{
        width: 227px;
        height: 97px;
        margin: 0;
        margin-bottom: var(--margin-troisieme-responsive);
    }

    .containerMarginRight{
        margin-right: 0;
    }
    
    .containerMarginLeft {
        margin-left: 0;
    }
    .containerCode .conteneurTexteIconeTexte{
        margin-top: var(--margin-troisieme-responsive);
        margin-left: var(--margin-troisieme-responsive);
    }
}



/* conteneur code et text */
.conteneurCodeText{
    display: flex;
    flex-direction: row;
}

/* code icone langage programmation / framework / logiciel */
.iconTextCode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 64px;
    margin: var(--margin-quatrieme);
}

.iconTextCode #tailleIcon1:hover {
    width: 60px;
    height: 60px;
}
#codeHtml{
    width: 57px;
}
#codeJs{
    width: 98px;
}
#codeCSS{
    width: 41px;
}
#bootstrapCode{
    width: 94px;
}
#tailwindCode{
    width: 123px;
}
@media (max-width: 1000px){
    .iconTextCode {
        height: 42px;
        margin: var(--margin-quatrieme-responsive);
    }
    
    .iconTextCode #tailleIcon1:hover {
        width: 30px;
        height: 30px;
    }
    #codeHtml{
        width: 29px;
    }
    #codeJs{
        width: 50px;
    }
    #codeCSS{
        width: 21px;
    }
    #bootstrapCode{
        width: 47px;
    }
    #tailwindCode{
        width: 62px;
    }
}

/* partie langue */
.contenuLangue{
    margin-left: var(--margin-quatrieme);
}
.contenuLangue p{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#ajustementPositionIconText {
    width: 295px;
    height: 72px;
    margin-top: 10px;
    align-items: center;
}

@media (max-width: 1000px){
    .contenuLangue{
        margin-left: var(--margin-quatrieme-responsive);
    }
    
    #ajustementPositionIconText {
        width: 168px;
        height: 30px;
        margin-top: 10px;
        align-items: center;
    }
}

/* ------------------------------------------section portfolio-------------------------------------- */
/* conteneur principal portfolio */
section .portfolio{
    display: flex;
    flex-direction: column;
    width: 908px;
    height: 628px; 
    align-items: center;

    
}

/* conteneur portfolio */
.containerPortfolio {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 387px;
    margin: var(--margin-troisieme);
}

/* conteneur des 3 portfolios */
.totalPortfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 880px;
    height: 388px;
    margin-bottom: var(--margin-troisieme);
}

/* conteneur image text */
.containerPortfolio .conteneurImageTextPorfolio {
    width: 213px;
    height: 347px;
    margin: var(--margin-quatrieme);
}

/* ajustement image */
.conteneurImageTextPorfolio .ajustementImagePortfolio {
    width: 210px;
    height: 146px;
    margin-bottom: var(--margin-quatrieme);
}
@media (max-width: 1000px){
    /* conteneur principal portfolio */
    section .portfolio{
        width: 406px;
        height: 585px; 
    }

    /* conteneur portfolio */
    .containerPortfolio {
        width: 125px;
        height: 190px;
        margin: var(--margin-troisieme-responsive);
    }

    /* conteneur des 3 portfolios */
    .totalPortfolio {
        flex-wrap: wrap;
        width: 400px;
        height: 425px;
        margin-bottom: var(--margin-troisieme-responsive);
    }

    /* conteneur image text */
    .containerPortfolio .conteneurImageTextPorfolio {
        width: 105px;
        height: 180px;
        margin: var(--margin-quatrieme-responsive);
    }

    /* ajustement image */
    .conteneurImageTextPorfolio .ajustementImagePortfolio {
        width: 105px;
        height: 73px;
        margin-bottom: var(--margin-quatrieme-responsive);
    }
}

@media (max-width:402px){
    section .portfolio{
        width: 100%;
    }

    /* conteneur portfolio */
    .containerPortfolio {
        margin: var(--margin-cinquieme-responsive);
    }

    /* conteneur des 3 portfolios */
    .totalPortfolio {
        width: 90%;
        margin-bottom: var(--margin-cinquieme-responsive);
    }
}


/* ---------------------------------------------section téléchargement--------------------------------------------- */
/* conteneur principale */
section .telechargement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 478px;
    height: 182px;
}

/* partie texte et btn téléchargement */
span .TelechargeBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}
span .TelechargeBtn p{
    margin-right: var(--margin-prime);
}
@media (max-width: 1000px){
    section .telechargement{
        width: 217px;
        height: 153px;
    }
    
    span .TelechargeBtn p{
        width: 130px;
        margin-right: var(--margin-prime-responsive);
    }
}

/* -------------------------------------------section contact------------------------------------------------------------ */
/* conteneur principal */
section .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1004px;
    height: 319px;
}
/* espacement text contact */
.contact p {
    margin-bottom: var(--margin-troisieme);
}
.sousTitre p {
    margin-top: 5px;
    margin-left: 2px;
}

/* conteneur appel whatsapp linkedin mail */
.conteneurAppelWhatsappInMail {
    display: flex;
    flex-direction: column;
    width: 1004px;
    height: 115px;
}

/* conteneur appel linkedin */
.conteneurAppelLinkedin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 43px;
    margin-bottom: var(--margin-troisieme);
    
}

/* conteneur whatsapp mail */
.conteneurWhatsappMail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 43px; 
}


/* sous-titre + icone dans les span */
.conteneurAppel {
    width: 255px;
    height: 40px;
    margin-right: var(--margin-prime);
}
.conteneurAppel:hover{
    height: 60px;
}
.conteneurLinkedin {
    width: 509px;
    height: 40px;
}
.conteneurLinkedin:hover {
    height: 60px;
}

.conteneurWhatsapp {
    width: 307px;
    height: 40px;
    margin-right: var(--margin-prime);
}
.conteneurWhatsapp:hover{
    height: 60px;
}
.conteneurMail {
    width: 603px;
    height: 40px;
    margin-left: 30px;
}
.conteneurMail:hover {
    height: 60px;
}

.conteneurAppelWhatsappInMail .sousTitre p {
    font-size: 30px;
}

@media (max-width: 900px){
    /* conteneur principal */
    section .contact {
        width: 308px;
        height: 229px;
    }
    /* espacement text contact */
    .contact p {
        margin-bottom: var(--margin-troisieme-responsive);
    }
    .sousTitre p {
        margin-top: 5px;
        margin-left: 2px;
    }

    /* conteneur appel whatsapp linkedin mail */
    .conteneurAppelWhatsappInMail {
        width: 308px;
        height: 131px;
    }

    /* conteneur appel linkedin */
    .conteneurAppelLinkedin {
        flex-direction: column;
        height: 50px;
        margin-bottom: 0;
        
    }

    .conteneurAppelLinkedin p{
        margin: 0;
    }

    /* conteneur whatsapp mail */
    .conteneurWhatsappMail {
        flex-direction: column;
        height: 50px; 
    }


    /* sous-titre + icone dans les span */
    .conteneurAppel {
        width: 134px;
        height: 24px;
        margin-right: 0;
    }
    .conteneurAppel:hover{
        height: 30px;
    }
    .conteneurLinkedin {
        width: 260px;
        height: 20px;
    }
    .conteneurLinkedin:hover {
        height: 30px;
    }

    .conteneurWhatsapp {
        width: 169px;
        height: 20px;
        margin-right: 0;
    }
    .conteneurWhatsapp:hover{
        height: 30px;
    }
    .conteneurMail {
        width: 308px;
        height: 20px;
        margin-left: 0;
    }
    .conteneurMail:hover {
        height: 30px;
    }

    .conteneurAppelWhatsappInMail .sousTitre p {
        font-size: 15px;
    }
}
/* -------------------------------------- flèche vers le haut------------------------------------------ */
.scroll-top {
    position: fixed;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    right: 10vw;
    bottom: -15px;
    z-index: 99999;
    color: var(--couleur-principale);
    background-color: var(--couleur-principale);
    width: var(--taille-icone3-normal);
    height: var(--taille-icone3-normal);
    border-radius: 10px;
    transition: all 0.4s;
    opacity: 0.7;
  }
  
  .scroll-top p {
    font-size: var(--taille-icone3-normal);
    color: white;
    transform: rotate(-90deg);
  }
  
  .scroll-top:hover {
    opacity: 0.98;
  }
  
  .scroll-top.active {
    visibility: visible;
    bottom: var(--taille-icone3-normal);
  }

@media (max-width: 1000px){
    .scroll-top {
        width: var(--taille-icone3-normal);
        height: var(--taille-icone3-normal);
        border-radius: 10px;
      }

}
@media (max-width: 500px){
    .scroll-top {
        right: 20%;
      }
    
      .scroll-top {
        width: var(--taille-icone3-responsive);
        height: var(--taille-icone3-responsive);
        border-radius: 10px;
      }
      .scroll-top p {
        font-size: var(--taille-icone3-responsive);
      }
      .scroll-top.active {
        bottom: var(--taille-icone3-responsive);
      }

}

/* -----------------------------------------------footer ------------------------------------------------------- */
/* conteneur principal footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 296px;
    width: 100vw;
    background-color: var(--couleur-alternatif);
    margin-left: -1vw;

}
/* conteneur copyright icon text */
.conteneurCopyrightIconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--margin-seconde);
    width: 853px;
    height: 176px;
}
/* couleur text */
.conteneurCopyrightIconText p{
    color: white;
    font-size: 30px;
}

.copyrightFooter, .iconFooter, .textFooter {
    display: flex;
    flex-direction: row;
}
.textFooter p{
    margin-left: 5px;
}
/* conteneur icone */
.iconFooter #tailleIcon1{
    margin: var(--margin-troisieme);
}
.iconFooter #tailleIcon1:hover {
    opacity: 0.5;
}
@media (max-width:1000px){
    /* conteneur principal footer */
    .footer {
        height: 202px;
        width: 105vw;
    }
    /* conteneur copyright icon text */
    .conteneurCopyrightIconText {
        margin: var(--margin-seconde-responsive);
        width: 430px;
        height: 182px;
    }
    /* couleur text */
    .conteneurCopyrightIconText p{
        font-size: 15px;
    }
    .textFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    /* conteneur icone */
    .iconFooter #tailleIcon1{
        margin: var(--margin-troisieme-responsive);
    }
}

/* ----------------------------animation du body lorsque le souris scroll---------------------------- */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  }

  .animate-on-scroll.animated {
    opacity: 1;
    transform: translateY(0);
  }

  .activeClass {
    margin-top: 116px;
  }